@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
.navbar-nav a {
    font-family: 'Itim', cursive;
    font-size: 20px;
    color: white !important;
    text-shadow: 2px 2px 4px #000000;
}
.navbar-brand {
    font-family: 'Itim', cursive;
    font-size: 30px;
    color: white !important;
    text-shadow: 2px 2px 4px #000000;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.jumbotron {
    position: relative;
    background: #fff url("img/bg2.svg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.arrow {
    width: 200px;
}
.bg-pink {
    position: relative;
    background: #fff url("img/nav.svg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
.itim {
    font-family: 'Itim', cursive;
}
/*.card {
    border: none;
}
*/
.navbar-toggler {
    border: none;
    background-color: white;
}
section  {
    background-image: #fff;
}

footer {
    height: 30px;
}